.body{
    background-color: rgb(134, 13, 13);
    color: white;
    font-family: verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: solid 2px 6px; white-space: white;
    
}
h1{
    display: block;
    font-family: futura md bt;
    font-size: 4.1rem;
    margin-top: 30px;
    margin-top: 20px;
    font-weight: bold;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sub{
    color: rgb(200, 216, 216);
    font-size: large;
    font-family: futura md bt;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#bg {background-image: url(1.jpg);
    background-blend-mode: overlay;
    background-color: rgb(124, 21, 21);
    background-size: cover;
    padding: 10px;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

h2{
    text-align: center;
    word-break: break-word;
    width: 1000px;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
    height: auto;
}

#caption {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 8px;
}
#tag{
    font-weight: bold;
    font-size: large;
    padding: 30px;
}

.info{
    display: block;
    margin: 0 auto 50px auto;
    word-break: break-word;
    max-width: 600px;
    text-align: left;
    /* font-family: 'poppins', sans-serif; */
    font-size: medium;
}

    blockquote{
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin: 30px 340px;
    word-break: break-word;
    max-width: 600px;
    text-align: left;
    font-style: italic; 
}

li {
    margin: auto;
    display:list-item;
    }
cite{
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    font-style: italic;
}

.end{
    font-weight: bold;
    font-size: large;
}

footer{
    display: block;
    align-content: center;
    margin-block: 20px;
    padding-bottom: 20px;

}
#wik{
    color: rgb(6, 122, 143);
}
